#about-me-box {
    background-color: #f2f2f2;
    padding: 3%; 
    margin: 5% auto; 
    border-radius: 1rem; 
    max-width: 70vw; 
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1); 
}

#about-me-box .text-center {
    font-size: 1.2em; 
    line-height: 1.5;
}


#projects {
    background-color: #f8f9fa;
    padding: 5% 0; 
}

.project-card {
    margin-bottom: 3%; 
}

.project-card img {
    max-width: 100%;
    height: auto;
}

.project-card .card-body {
    text-align: center;
    padding: 2%; 
}

.project-card .card-text {
    width: 80%; 
    margin: 0 auto; 
}

.project-card .btn {
    margin-top: 1%; 
    margin-bottom: 1%;
}

